@(categories: List[models.category.Category])(implicit request: RequestHeader)

@main("Categories"){
    <script>
            (function () {
                document.getElementById("addPictures").focus();
            })();
    </script>
}{

@menu.topmenu(views.menu.TopMenuElement.Category)

<div class="panel panel-default">
    <div class="panel-heading">
        <a href="@controllers.category.routes.CategoryForms.create()" role="button" class="btn btn-primary btn-sm"
           title="Create a new category" id="addPictures">
            <span class="glyphicon glyphicon-plus"></span> Add
        </a>
        <a href="@controllers.category.routes.Categories.refresh()" role="button" class="btn btn-primary btn-sm"
           title="Refresh list of categories">
            <span class="glyphicon glyphicon-refresh"></span> Refresh
        </a>
    </div>
    <div class="panel-body">
        <table class="table table-condensed table-striped table-hover">
            <thead>
            <tr>
                <th style="text-align:center;">Nom</th>
                <th style="text-align:center;">Online</th>
                <th style="text-align:center;">Up</th>
                <th style="text-align:center;">Down</th>
            </tr>
            </thead>
            <tbody>
            @for((category, index) <- categories.zipWithIndex){
            <tr>
                <td><a href="@controllers.category.routes.CategoryForms.edit(category.categoryId)">@category.title</a>
                </td>
                <td style="text-align:center;">
                    <input type="checkbox"
                           onchange="self.location='@controllers.category.routes.Categories.onOffLine(category.categoryId)'"
                    @if(category.online){checked}>
                </td>
                <td style="text-align:center;">
                    @if(index != 0){
                    <a href="@controllers.category.routes.Categories.up(category.categoryId)">
                        <button type="button" class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        </button>
                    </a>
                    }
                </td>
                <td style="text-align:center;">
                    @if(index < (categories.size-1)){
                    <a href="@controllers.category.routes.Categories.down(category.categoryId)">
                        <button type="button" class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </button>
                    </a>
                    }
                </td>
            </tr>
            }
            </tbody>
        </table>
    </div>
</div>
}