@(title: String, form: Form[models.category.Category])

@import views.html.helper.bootstrap._

@main(title){
<script>
            onLoad = title.focus();
</script>
}{

<br>

<div @if(form.hasErrors){class="panel panel-danger"} else {class="panel panel-info"}>
<div class="panel-heading">
    <h4><span @if(form.hasErrors){class="label label-danger"} else {class="label label-primary"}">@title</span></h4>
</div>
<div class="panel-body">
    @helper.form(action=controllers.category.routes.CategoryForms.save, args =
    'class -> "form-horizontal",
    'role -> "form") {

    @form.globalError.map { error =>
    <div class="form-group has-error">
        <label class="col-sm-2 control-label"></label>
        <label class="col-sm-10">@error.message</label>
    </div>
    }

    @helper.inputText(form("title"),
    'class -> "form-control",
    '_label -> "Title",
    '_help -> "50 characters max",
    'maxlength -> 50)


    @helper.textarea(form("comment"),
    'class -> "form-control",
    '_label -> "Comment",
    '_help -> "100 characters max",
    'maxlength -> 100)

    @helper.checkbox(form("online"),
    'class -> "form-control",
    '_label -> "On-line",
    '_showConstraints -> false)

    <input type="hidden" name="categoryId" value="@form.get.categoryId">

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <a href="@controllers.category.routes.Categories.view()" role="button" class="btn btn-primary">Cancel</a>
            &nbsp;&nbsp;
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Save
            </button>
        </div>
    </div>
    }
</div>
</div>
}