@(mainFolders: List[String], subFolders: List[String],
    selectedMainFolder: String, selectedSubFolder: String,
    pictures: List[controllers.picture.PictureVO])(implicit request: play.api.mvc.RequestHeader)

@main("Pictures"){
    @carousel(pictures)

    <script>
            (function () {
                document.getElementById("folder1").focus();
            })();
    </script>
    <script src='@routes.Assets.at("javascripts/picture.js")'></script>
} {

@menu.topmenu(views.menu.TopMenuElement.Picture)

<div class="panel panel-default">
    <div class="panel-heading">

        Folder :
        <select name="folder1" id="folder1" class="input-sm" >
            @for(parentFolder <- mainFolders) {
            <option value="@parentFolder" @if(parentFolder==selectedMainFolder){selected}>@parentFolder</option>
            }
        </select>

        &nbsp;&nbsp; Sub-folder :
        <select name="folder2" id="folder2" class="input-sm">
            @for(subFolder <- subFolders) {
            <option value="@subFolder" @if(subFolder==selectedSubFolder){selected}>@subFolder</option>
            }
        </select>

        &nbsp;&nbsp;
        <button type="button" class="btn btn-primary btn-sm" id="rescanFolders"
                onclick="self.location='@controllers.picture.routes.Pictures.refresh()'">
            <i class="glyphicon glyphicon-refresh"></i> Refresh list of folders
        </button>
    </div>
    <div class="panel-body">
        @for(subList <- pictures.sliding(6, 6)) {
        <div class="row">
            @for(picture <- subList) {
            <div class="col-md-2">
                <div class="thumbnail">
                    <table style="width:100%; text-align:center">
                        <tbody>
                        <tr>
                            <td><img src='@picture.thumbnailComplete' onclick="showCarousel('@picture.web'); return false"></td>
                        </tr>
                        <tr>
                            <td style="text-align:center">
                                <div class="btn-group btn-group-sm">
                                    10x15
                                    @{picture.print match {
                                        case None => <span class='glyphicon glyphicon-remove'></span>
                                        case Some(s) => <span class='glyphicon glyphicon-ok'></span>
                                    }}
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            }
        </div>
        }
    </div>
</div>
}