@(form: Form[(String, String)], msg: Option[String])(implicit flash: Flash)

@import securesocial.core.IdentityProvider

@mainauth("Login"){

<br>

<div class="col-xs-12 col-md-8">

    <div class="panel panel-primary">

        <div class="panel-heading">
            <h3 class="panel-title">Login</h3>
        </div>

        <div class="panel-body">

            <div class="clearfix">
                @if(msg.isDefined){
                <div class="alert alert-dismissable alert-danger">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>@Messages(msg.get)</strong>
                </div>
                }

                @if(flash.get("success").isDefined){
                <div class="alert alert-dismissable alert-info">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>@flash.get("success")</strong>
                </div>
                }

                <p>Login using a username and password.</p>

                <div class="col-xs-12 col-md-6">

                @helper.form(action=securesocial.core.providers.utils.RoutesHelper.authenticateByPost("userpass"), args =
                'class -> "form-horizontal",
                'role -> "form") {

                @helper.inputText(form("username"),
                'class -> "form-control",
                '_label -> "Email",
                'required -> true,
                '_showConstraints -> false)

                @helper.inputPassword(form("password"),
                'class -> "form-control",
                '_label -> "Password",
                'required -> true,
                '_showConstraints -> false)

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>

                }

                </div>

                <div class="col-xs-12 col-md-6">
                    <br>
                    <div class="clearfix">
                        <a href="/reset"><p>Did you forget your password? </a></p>
                    </div>

                    <div class="clearfix">
                        <p>If you don&#x27;t have an account with us yet you can sign up <a href="/signup">here</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}