@(form: Form[(String, String)], msg: Option[String])

@mainauth("Login"){

<br>

<div class="col-xs-12 col-md-8">

    <div class="panel panel-primary">

        <div class="panel-heading">
            <h3 class="panel-title">Login</h3>
        </div>

        <div class="panel-body">

            <div class="clearfix">
                <p>Login using a username and password.</p>

                <form action = "http://localhost:9000/authenticate/userpass"
                      class="form-horizontal" autocomplete="off" method="POST">

                    <fieldset>
                        <div class="col-xs-12 col-md-6">
                            <div class="control-group" id="username_field">
                                <label class="control-label" for="username">Email</label>
                                <div class="controls">
                                    <input type="text" id="username" name="username" value="" class="input-xlarge">
                                    <span class="help-block">Required</span>
                                </div>
                            </div>

                            <div class="control-group" id="password_field">
                                <label class="control-label" for="password">Password</label>
                                <div class="controls">
                                    <input type="password" id="password" name="password" class="input-xlarge">
                                    <span class="help-block">Required</span>
                                </div>
                            </div>

                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary">Login</button>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-6">
                            <br>
                            <div class="clearfix">
                                <a href="/reset"><p>Did you forget your password? </a></p>
                            </div>

                            <div class="clearfix">
                                <p>If you don&#x27;t have an account with us yet you can sign up <a href="/signup">here</a></p>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
}