@(form: Form[controllers.gallery.SelectedPics],
gallery: models.gallery.Gallery,
mainFolders: List[String], subFolders: List[String],
selectedMainFolder: String, selectedSubFolder: String,
pictures: List[controllers.gallery.SelectablePic])

@main(gallery.extendedTitle){
<script>
            // Required for comboBoxes of folders (check coffeescript file)
            var galleryId = @gallery.galleryId;

            (function () {
                document.getElementById("folder2").focus();
            })();


</script>
<script src='@routes.Assets.at("javascripts/gallery/galleryPicSelection.js")'></script>
}{

@menu.topmenu(views.menu.TopMenuElement.Gallery)

@gallerymenu(views.gallery.GalleryMenuElement.PicSelection, gallery.categoryId,
gallery.galleryId, gallery.extendedTitle)

<br>

Folder :
<select name="folder1" id="folder1" class="input-sm">
    @for(parentFolder <- mainFolders) {
    <option value="@parentFolder" @if(parentFolder==selectedMainFolder){selected}>@parentFolder</option>
    }
</select>

&nbsp;&nbsp; Sub-folder :
<select name="folder2" id="folder2" class="input-sm">
    @for(subFolder <- subFolders) {
    <option value="@subFolder" @if(subFolder==selectedSubFolder){selected}>@subFolder</option>
    }
</select>

&nbsp;&nbsp;&nbsp;&nbsp;

<button type="button" class="btn btn-primary btn-sm" onclick="toggleCheckBoxes(true);">
    <span class="glyphicon glyphicon-ok-circle"></span> Select all
</button>
<button type="button" class="btn btn-primary btn-sm" onclick="toggleCheckBoxes(false);">
    <span class="glyphicon glyphicon-remove-circle"></span> Unselect all
</button>

<br><br>

@helper.form(action=controllers.gallery.routes.GalleryPicSelection.save,
'id -> "picForm") {

@for(subList <- pictures.zipWithIndex.sliding(4, 4)) {
<div class="row">
    @for((picture, index) <- subList) {
    <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
            <table style="width:100%; text-align:center">
                <tbody>
                <tr>
                    <td><img src='@picture.thumbnailComplete'></td>
                </tr>
                <tr>
                    <td style="text-align:center">
                        <div class="btn-group btn-group-sm">
                            <input name="pictures[@index]" type="checkbox" value="@picture.web">
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    }
</div>
}

<input type="hidden" name="galleryId" value='@gallery.galleryId'>
<input type="hidden" name="folder" value="@form.get.folder">

<div align="center">
    <button type="submit" class="btn btn-primary btn-sm">
        <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Add and save
    </button>
</div>
}
}