@(form: models.gallery.GalleryPics)

@main(form.extendedTitle){
<script>
            (function () {
                var firstPic = document.getElementById("picture[0]");
                if (firstPic) {
                    firstPic.focus();
                }
            })();

</script>
}{

@menu.topmenu(views.menu.TopMenuElement.Gallery, form.categoryId)

@gallerymenu(views.gallery.GalleryMenuElement.PicList, form.categoryId, form.galleryId, form.extendedTitle)

<table class="table table-condensed table-striped table-hover">
    <thead>
    <tr>
        <th style="text-align:center; width:60px">Gallery's thumbnail</th>
        <th style="text-align:center;">Picture</th>
        <th style="text-align:center;">Name</th>
        <th style="text-align:center;">Up</th>
        <th style="text-align:center;">Down</th>
        <th style="text-align:center;">Remove</th>
    </tr>
    </thead>
    <tbody>
    @for((picture, index) <- form.pictures.zipWithIndex){
    <tr>
        <td style="text-align:center; width:60px">
            <input type="radio" name="thumbnail" value="@picture.thumbnail"
                   onchange="self.location='@controllers.gallery.routes.GalleryPicList.changeThumbnail(form.galleryId, index)'"
            @if(picture.thumbnail == form.thumbnail){checked}>
        </td>
        <td style="text-align:center;">
            <a href="@controllers.gallery.routes.GalleryPicComment.view(form.galleryId, index)"
                id="picture[@index]">
            <img src="@picture.thumbnailComplete" title='@picture.comment.getOrElse("")'></a></td>
        <td style="text-align:left;">
            <a href="@controllers.gallery.routes.GalleryPicComment.view(form.galleryId, index)">
            @picture.comment.getOrElse("")</a></td>
        <td style="text-align:center;">
            @if(index != 0){
            <a href="@controllers.gallery.routes.GalleryPicList.up(form.galleryId, index)">
                <button type="button" class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                </button>
            </a>
            }
        </td>
        <td style="text-align:center;">
            @if(index < (form.pictures.size-1)){
            <a href="@controllers.gallery.routes.GalleryPicList.down(form.galleryId, index)">
                <button type="button" class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
            </a>
            }
        </td>
        <td style="text-align:center;">
            <a href="@controllers.gallery.routes.GalleryPicList.remove(form.galleryId, index)">
                <button type="button" class="btn btn-primary btn-sm" style="height:35px"
                        title="Remove that picture from the gallery">
                    <span class='glyphicon glyphicon-trash'></span>
                </button>
            </a>
        </td>
    </tr>
    }
    </tbody>
</table>

<input type="hidden" name="galleryId" value='@form.galleryId'>
}