@(form: Form[controllers.gallery.GalleryPicComment])

@main("Comment picture"){
<script>
            comment.focus()
</script>
}{

<div class="well">
    @helper.form(action=controllers.gallery.routes.GalleryPicComment.save, args =
    'class -> "form-horizontal",
    'role -> "form") {

    <div align="center">
        <img src='@form.get.webComplete'>
    </div>

    @helper.inputText(form("comment"),
    'class -> "form-control",
    '_label -> "Comment",
    'maxlength -> 200)

    <div class="form-group">
        <div align="center">
            <a href='@controllers.gallery.routes.GalleryPicList.view(form.get.galleryId)' role="button"
               class="btn btn-primary btn-sm">Back</a>
            &nbsp;&nbsp;
            <button type="submit" class="btn btn-primary btn-sm">
                <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Save
            </button>
        </div>
    </div>

    <input type="hidden" name="index" value='@form.get.index'>
    <input type="hidden" name="galleryId" value='@form.get.galleryId'>
    <input type="hidden" name="categoryId" value='@form.get.categoryId'>
    }
</div>
}