@(menuIndex: views.gallery.GalleryMenuElement.Value, categoryId: Int, galleryId: Int, title: String)(implicit request: play.api.mvc.RequestHeader)

@import views.gallery.GalleryMenuElement

@if(galleryId > 0) {
<div class="panel panel-default">
    <div class="panel-heading-gallery">
        @title
            @* style="float:right; line-height: 1.5;" *@
        <span class="button-right">
            <a href="@controllers.gallery.routes.GalleryForms.previousGallery(galleryId)" role="button"
               class="btn btn-primary btn-sm"
               title="Previous gallery">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a href="@controllers.gallery.routes.GalleryForms.nextGallery(galleryId)" role="button"
               class="btn btn-primary btn-sm"
               title="Next gallery">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
            @if(models.BackEndUser.isWriter(request)){
            <a href="@controllers.gallery.routes.GalleryForms.create(categoryId)" role="button"
               class="btn btn-primary btn-sm"
               title="Create a new gallery">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
            }
        </span>
    </div>
</div>
}

<ul class="nav nav-tabs" style="margin-bottom: 10px">

    @if(galleryId > 0) {
        <li @if(menuIndex==GalleryMenuElement.GalleryForm){class="active"}>
        <a href="@controllers.gallery.routes.GalleryForms.edit(galleryId)">Gallery's description</a></li>
        <li @if(menuIndex==GalleryMenuElement.PicList){class="active"}>
        <a href='@controllers.gallery.routes.GalleryPicList.pictures(galleryId)'>Gallery's pictures</a></li>
        @if(models.BackEndUser.isWriter(request)){
        <li @if(menuIndex==GalleryMenuElement.PicSelection){class="active"}>
        <a href='@controllers.gallery.routes.GalleryPicSelection.pictures(galleryId, "", "")'>Add pictures</a></li>
        }
    } else {
        <li class="active"><a href="#">Gallery's description</a></li>
        <li class="disabled"><a href="#">Gallery's pictures</a></li>
        @if(models.BackEndUser.isWriter(request)){
        <li class="disabled"><a href="#">Add pictures</a></li>
        }
    }
</ul>