@(form: Form[controllers.gallery.SelectedPics],
galleryId: Int, mainFolders: List[String], subFolders: List[String],
selectedMainFolder: String, selectedSubFolder: String,
pictures: List[controllers.gallery.SelectablePic])

@main("Add pictures to gallery"){
<script>
            // Required for comboBoxes of folders
            var galleryId = @galleryId;
</script>
<script src='@routes.Assets.at("javascripts/gallery/galleryPicSelection.js")'></script>
}{

<br>

<div class="panel panel-info">
    <div class="panel-heading">
        <h4><span class="label label-primary">Add pictures to the gallery</span></h4>
        Folder :
        <select name="folder1" id="folder1" class="input-sm">
            @for(mainFolder <- mainFolders) {
            <option value="@mainFolder"
            @if(mainFolder==selectedMainFolder){selected}>@mainFolder</option>
            }
        </select>

        &nbsp;&nbsp; Sub-folder :
        <select name="folder2" id="folder2" class="input-sm">
            @for(subFolder <- subFolders) {
            <option value="@subFolder"
            @if(subFolder==selectedSubFolder){selected}>@subFolder</option>
            }
        </select>
    </div>

    <div class="panel-body">
        <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm" onclick="toggleCheckBoxes(true);">
                <span class="glyphicon glyphicon-ok-circle"></span> Select all
            </button>
            <button type="button" class="btn btn-default btn-sm" onclick="toggleCheckBoxes(false);">
                <span class="glyphicon glyphicon-remove-circle"></span> Unselect all
            </button>
        </div>
        <br><br>

        @helper.form(action=controllers.gallery.routes.GalleryPicSelection.save,
            'id -> "picForm") {

        @for(subList <- pictures.zipWithIndex.sliding(4, 4)) {
        <div class="row">
            @for((picture, index) <- subList) {
            <div class="col-xs-6 col-md-3">
                <div class="thumbnail">
                    <table style="width:100%; text-align:center">
                        <tbody>
                        <tr>
                            <td><img src='@picture.thumbnailComplete'></td>
                        </tr>
                        <tr>
                            <td style="text-align:center">
                                <div class="btn-group btn-group-sm">
                                    <input name="pictures[@index]" type="checkbox" value="@picture.web">
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            }
        </div>
        }

        <input type="hidden" name="galleryId" value='@galleryId'>
        <input type="hidden" name="folder" value="@form.get.folder">

        <br>

        <div align="center">
            <a href='@controllers.gallery.routes.GalleryPicList.view(galleryId)' role="button"
               class="btn btn-primary">Cancel</a>
            &nbsp;&nbsp;
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Save
            </button>
        </div>
        }
    </div>
</div>
}