@(form: models.gallery.GalleryPics)

@main(form.extendedTitle)(){

@menu.topmenu(views.menu.TopMenuElement.Gallery, form.categoryId)

@gallerymenu(views.gallery.GalleryMenuElement.PicList, form.categoryId, form.galleryId, form.extendedTitle)

@for(subList <- form.pictures.zipWithIndex.sliding(4, 4)) {
<div class="row">
    @for((picture, index) <- subList) {
    <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
            <table style="width:100%; text-align:center">
                <tbody>
                <tr>
                    <td><a id="@index"></a>
                        <a href="@controllers.gallery.routes.GalleryPicComment.view(form.galleryId, index)"
                           id="picture[@index]">
                            <img src='@picture.thumbnailComplete' title='@picture.comment.getOrElse("")'></a>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center">
                        <div class="btn-group btn-group-sm">
                            <input type="radio" name="thumbnail" value="@picture.thumbnail"
                                   onchange="self.location='@controllers.gallery.routes.GalleryPicList.changeThumbnail(form.galleryId, index)'"
                            @if(picture.thumbnail == form.thumbnail){checked}>
                            @if(index != 0){
                            <a href="@controllers.gallery.routes.GalleryPicList.moveToTheBeginning(form.galleryId, index)">
                                <span class="glyphicon glyphicon-step-backward"></span>
                            </a>
                            <a href="@controllers.gallery.routes.GalleryPicList.moveToTheLeft(form.galleryId, index)">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            }
                            @if(index < (form.pictures.size-1)){
                            <a href="@controllers.gallery.routes.GalleryPicList.moveToTheRight(form.galleryId, index)">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                            <a href="@controllers.gallery.routes.GalleryPicList.moveToTheEnd(form.galleryId, index)">
                                <span class="glyphicon glyphicon-step-forward"></span>
                            </a>
                            }
                            <a href="@controllers.gallery.routes.GalleryPicList.remove(form.galleryId, index)">
                                <span class='glyphicon glyphicon-trash'></span>
                            </a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    }
</div>
}

<input type="hidden" name="galleryId" value='@form.galleryId'>
}