@(title: String, categories: List[models.Category], form: Form[models.GalleryForm])(implicit request: play.api.mvc.RequestHeader)

@import views.html.helper.bootstrap._

@main(title)(){

@menu.topmenu(views.menu.TopMenuElement.Gallery, form.apply("categoryId").value.get.toInt)

@gallerymenu(views.gallery.GalleryMenuElement.GalleryForm,
    form.apply("categoryId").value.get.toInt,
    form.apply("galleryId").value.get.toInt,
    title)

    <br>

    @if(models.BackEndUser.isWriter(request)){
        @galleryFormWrite(categories, form)
    } else {
        @galleryFormRead(categories, form)
    }

}