@(selectedCategoryId: Int, categories: List[models.category.Category],
    galleries: List[models.gallery.Gallery])(implicit request: RequestHeader)

@main("Galleries"){
        <script>
            (function () {
                document.getElementById("category").focus();
            })();
        </script>
    <script src='@routes.Assets.at("javascripts/gallery/gallery.js")'></script>
}{

@menu.topmenu(views.menu.TopMenuElement.Gallery, selectedCategoryId)

<div class="panel panel-default">
    <div class="panel-heading">
        Category :
        <select name="category" id="category" class="input-sm">
            @for(category <- categories){
            <option value="@category.categoryId" @if(category.categoryId==selectedCategoryId){selected}>@category.title</option>
            }
        </select>
    </div>
    <div class="panel-body">
        <a href="@controllers.gallery.routes.GalleryForms.create(selectedCategoryId)" role="button"
           class="btn btn-primary btn-sm"
           title="Create a new gallery">
            <span class="glyphicon glyphicon-plus"></span> Add
        </a>
        <a href="@controllers.gallery.routes.Galleries.refresh(selectedCategoryId)" role="button"
           class="btn btn-primary btn-sm"
           title="Refresh list of galleries">
            <span class="glyphicon glyphicon-refresh"></span> Refresh
        </a>
        <br>

        <table class="table table-condensed table-striped">
            <thead>
            <tr>
                <th style="text-align:center; width:130px">&nbsp;</th>
                <th style="text-align:center;">Titre</th>
                <th style="text-align:center; width:30">Pictures</th>
                <th style="text-align:center; width:30">Online</th>
                <th style="text-align:center;">Up</th>
                <th style="text-align:center;">Down</th>
            </tr>
            </thead>
            <tbody>
            @for((gallery, index) <- galleries.zipWithIndex){
            <tr>
                <td><a href="@controllers.gallery.routes.GalleryPicList.view(gallery.galleryId)">
                    <img src='@gallery.thumbnail'></a></td>
                <td><a href="@controllers.gallery.routes.GalleryForms.edit(gallery.galleryId)">@gallery.title</a></td>
                <td style="text-align:center;">@gallery.nbPictures</td>
                <td style="text-align:center;">
                    <label><input type="checkbox"
                                  onchange="self.location='@controllers.gallery.routes.Galleries.onOffLine(gallery.categoryId, gallery.galleryId)'"
                        @if(gallery.online){checked}></label>
                </td>
                <td style="text-align:center;">
                    @if(index != 0){
                    <a href="@controllers.gallery.routes.Galleries.up(gallery.categoryId, gallery.galleryId)">
                        <button type="button" class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        </button>
                    </a>
                    }
                </td>
                <td style="text-align:center;">
                    @if(index < (galleries.size-1)){
                    <a href="@controllers.gallery.routes.Galleries.down(gallery.categoryId, gallery.galleryId)">
                        <button type="button" class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </button>
                    </a>
                    }
                </td>
            </tr>
            }
            </tbody>
        </table>
    </div>
</div>
}